@import "./vars.scss"; 

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: $bg-darkgray;
  color: $text;
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;

  h2 {
    font-weight: 700; 
  }

  h3 {
    font-weight: 600; 
  }
}

h1 { font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#main {
  display: block;
  margin: auto; 
  padding: 2rem;
  border: 1.5px solid $borders; 
  border-radius: 18px;
  background: $panel-card;
  box-shadow: 0 1px 4px rgba(0,0,0,0.04), 0 0.5px 1.5px rgba(60,60,60,0.03);
}

.droid-image {
  // background-image: url('/droid.png');
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-color: $text;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgba(0,0,0,0.04), 0 0.5px 1.5px rgba(60,60,60,0.03);
  background-position: center;
}

.connect-btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  background-color: $panel-card;
  color: $text;
  border: 1.5px solid $borders;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;

  &:hover {
    background-color: $primary-accent;
    color: $bg-darkgray;
  }
}

.connecting {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  background-color: $panel-card;
  color: $text;
  font-size: 1rem;
  font-weight: bold;
}

.connected {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  background-color: $secondary-accent;
  color: $bg-darkgray;
  border: 1.5px solid $borders;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 800;
  cursor: not-allowed;
}

.controller {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
}

.arrows {
  // display: block;
  flex-direction: left;
  align-items: center;
  margin-top: 1rem;
  padding:10px;

  button {
    border-radius: 18px;// 50%;
    color: white;
    padding: 10px 20px;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
      &:hover {
        background-color: $secondary-accent;
        -webkit-transition: .2 ease-out; 
        -moz-transition: .2 ease-out;
        transition: .2s ease-out;
      }
    }
    
  .side-btns {
    display: flex;
    justify-content: center;
  }

  .arrow-placeholder {
    width: 50px;
    height: 50px;
    background-color: transparent;
  }

}

.head-arrows {
  display: flex;
  flex-direction: right;
  padding:10px;
  align-items: center;
  justify-content: center;

  .arrow-placeholder {
    width: 20px;
    height: 50px;
    background-color: transparent;
  }

  button {
    color: white;
    padding: 10px 20px;
    width: 75px;
    height: 75px;
    border: none;
    cursor: pointer;
      &:hover {
        background-color: $secondary-accent;
        -webkit-transition: .2 ease-out; 
        -moz-transition: .2 ease-out;
        transition: .2s ease-out;
      }
    }
    
    .right {
        clip-path: polygon(0% 0%, 50% 50%, 0% 100%);
    }

    .left {
        clip-path: polygon(100% 5%, 50% 50%, 100% 100%);
    }

}

.chat {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    background-color: $panel-card;
    border: 1px solid $borders;
    color: $text;
    padding: 0.5rem;
    border-radius: 4px;
    width: 80%; 
    margin-bottom: 1rem;
    font-family:inherit;
    font-size: 16px;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}