// $bg-darkgray: #0D0D0D;
// $panel-card: #1C1C1C;
// $primary-accent: #B30000;
// $secondary-accent: #4D4D4D;
// $text: #CCCCCC;
// $highlight: #FF0000;
// $borders: #2E2E2E; 


$bg-darkgray: #0A1F44;
$panel-card: #1E3A5F;
$primary-accent: #00FFFF;
$secondary-accent: #7FDBFF;
$text: #F8F8F8;
$highlight: #00BFFF;
$borders: #3E8EBA; 
